/* GLOBAL RESETS */
* { box-sizing: border-box;}

// VARIABLES
$color-text-body: rgb(0,0,0,.8);
$color-text-heading: rgb(0,0,0,1);
$color-accent: rgb(68, 115, 175);
$color-accent-dark: rgb(113, 161, 224);

$color-lightgrey: rgba(0,0,0,.5);

/* BASE TEXT FONTS */
body {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
  }

// IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
